/* Add in some nice fonts - Unica One and Source Code Pro from google */

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Unica+One&display=swap");
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* my custom colors */

:root {
  --colPrimary: #1c1c1c;
  --colInteractive: #4aa5ff;
  --colBackground: #f7f7f7;
  --colCard: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colPrimary: #f7f7f7;
    --colInteractive: #0081ff;
    --colBackground: #333;
    --colCard: #1c1c1c;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --colPrimary: #1c1c1c;
    --colInteractive: #4aa5ff;
    --colBackground: #f7f7f7;
    --colCard: #fff;
  }
}

body {
  font: 1rem;
  font-family: "Source Code Pro", ui-monospace, monospace;
  /* background-color:#222831; */
  background-color: var(--colBackground);
  color: var(--colPrimary);
  margin: 1rem;
}

/* this is kind of fun */

/* body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Unica One", sans-serif;
  letter-spacing: 0.5rem;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

label {
  margin: 0.25rem 1rem;
  display: inline-block;
}

button {
  background-color: var(--colBackground);
  color: var(--colInteractive);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  letter-spacing: 0.1rem;
  margin: 0.2rem 1rem;
}

button:hover,
button:active {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--colInteractive);
  color: var(--colPrimary);
}

button:focus {
  /* hmm, learn about outlines and accessibility */
  outline: 0;
  outline-color: #3f71af25;
  outline-offset: 0.5rem;
}

/* 
button:active {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--colA);
  border: solid 1px var(--colB);
  color: var(--colC);
} */

.container {
  width: 50%;
  padding: 0rem 2rem 2rem 2rem;
  margin: 1rem auto;
  background-color: var(--colCard);
  text-align: center;
  color: var(--colPrimary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 0.5rem;
}

.radio {
  margin: 1rem 0rem 1rem 0rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidecontainer {
  width: 85%;
  margin: 0rem auto;
}

.slider {
  width: 100%;
}

#password {
  font-size: 1.2rem;
  background-color: var(--colInteractive);
  padding: 0.5rem;
  border-radius: 0.5rem;

  /* for small screens want to break into next line */
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* radio input */

input[type="radio"] {
  /* make text and buttons align nicer */
  vertical-align: middle;
  margin-top: -1px;
  /* bit bigger */
  width: 1.5rem;
  height: 1.5rem;
}

/* For mobile phones: */

.container {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For desktop: */
  .container {
    width: 50%;
    max-width: 800px;
    min-width: 500px;
  }
  h1 {
    font-size: 3rem;
    text-transform: uppercase;
  }
  .center {
    height: 100vh;
  }
}
